* {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  background-color: Linen;
}

div#board {
  margin: 30px;
  position: relative;
}

div#text-area {
  height: 80px;
  position: absolute;
  left: 420px;
  bottom: 50px;
}

h1, h2, h3 {
  font-family: Oswald;
}

h3 {
  font-size: 16px;
  padding: 5px;
}

h2 {
  float: left;
  text-align: center;
}

#number {
  width: 30px;
  padding-top: 6px;
}

#letter {
  width: 45px;
  margin: 1px;
}

li {
  width: 45px;
  height: 45px;
  margin: 1px;
  border-radius: 3px;
}

.active {
  background-image: url(knight.png);
  background-size: cover;
}

.possible {
  background-image: url(knight-wh.png);
  background-size: cover;
}

input {
  margin: 5px;
  padding: 5px;
  border: solid 1px Silver;
  border-radius: 5px;
}

#position-field {
  width: 230px;
}

#button {
  width: 50px;
  margin-left: 0px;
}
